<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".debug.NativeDebugCommandReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="dev.agentremote.messenger.DEBUG_COMMAND" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
